*.user
*.aps
*.eto
*.ncb
*.suo
*.*sdf
*.cache
*.bak
*.idc
*.lst
*.metaproj*
*.sln.proj
*.pdb
*.Publish.xml

.buildpath
.project

[Tt]emp/
[Ii]pch/
[Dd]ebug/
[Rr]elease/
[Gg]eneratedFiles
[Oo]bj/
[Bb]in/
[Xx]64/
[Ww]in32/

!Debugging/